* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #1b2638;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: 40px;
}

nav > h3 { 
  margin-left: 20px;  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0px 0px 0px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}

.intro {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > h1 {
  font-size: 50px;
  margin: 0px;
}

.about > p {
  margin-left: 0.1em;
  font-size: 20px;
}

.about-brief {
  margin-top: 10px;
}

.intro-img-frame {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.intro-img-frame > img {
  width: 170px;
  transform: translate(-5px, -50px);
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px
}

.title {
  margin-bottom: 20px;
}

.title > h2 {
  font-size: 40px;
  margin: 0px;
}

.resume-entry-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-entry-title > * {
  margin: 0px;
}

.resume-entry-sub {
  margin-top: 10px;
}

.skills-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.skills-entry {
  width: 23%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 0.5px solid black;
  border-radius: 12px;
}

.skills-entry > * {
  margin: 0px;
}

.skills-entry > img {
  height: 40%;
}

.projects-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.project-entry {
  width: 48%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 0.5px solid black;
  border-radius: 12px;
}

.project-entry-img-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.project-entry-img-frame > img {
  width: 400px;
  margin: 0px;
  transform: translate(0px, 30px);
}

.project-entry-body {
  padding: 20px 20px 0px 20px;
  margin: 0px;
  width: 100%;
  height: 50%;
}

.project-entry-body-title {
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.project-entry-body-desc {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.project-entry-body-footer {
  width: 100%;
  height: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

}

.project-entry-body-title > p {
  margin: 0px;
}

.project-entry-body-desc > p {
  margin: 0px;
}

.project-entry-body-footer > a {
  color: white;
  text-decoration: none
}













